.form-adiciona {
  min-height: 50vh;
  color: $font-color;

  label {
    font-weight: bold;
    color: $primary;
  }

  textarea {
    resize: none;
    height: 150px;
  }

  input[type="file"] {
    max-width: 400px;
  }
}