.work-info-area {
  min-height: 450px;
  padding: 0 12px;

  .work-info {
    border: solid 1px $border-color;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 1px $border-color;

    p {
      margin: 15px 0;
      color: $font-color;

      span {
        color: $primary;
        font-weight: bold;

        &.span-break {
          @include media-breakpoint-down(xl) {
            display: block;
          }
        }
      }
    }

    .btn-card-flip {
      background-color: $primary;
      color: $white;

      &:hover {
        background-color: $primary-hover;
      }
    }
  }

  .card {
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    min-height: inherit;
    transform-style: preserve-3d;
    transition: all .7s;
    padding: 0;
    border: none;

    .face {
      height: 100%;
      width: 100%;
      border-radius: 6px;
      position: absolute;
      padding: 15px 12px;
      border: solid 1px $border-color;
      background-color: $white;

      p {
        font-weight: bold;
        color: $primary;
      }

      textarea {
        resize: none;
        height: 200px;
        color: $font-color;
        background-color: $white;
      }

      .files {
        border: solid 1px $border-color;
        border-radius: 6px;
        height:100px;
        padding: 10px;
        overflow: auto;

        a {
          color: $font-color;
          font-size: 14px;
          text-decoration: none;
          display: block;

          &:hover {
            color: $primary;
          }
        }
      }

      &.front {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: rotateY(0deg);
      }

      &.back {
        p > span {
            font-size: 14px;
            font-weight: normal;
            color: $gray-400;
        }

        .nota span {
          font-size: 16px;
          color: $font-color;
          margin-left: 10px;
        }

        form {
          min-height: 418px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          button[type="submit"] > i {
            margin-left: 10px;
          }

          .upload-area {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
          }

          p {
            position: relative;

            > span {
              font-size: 14px;
              font-weight: normal;
              color: $gray-400;
            }

            .file-info {
              cursor: pointer;
            }

            .file-info {
              position: absolute;
              font-size: 12px;
              font-weight: normal;
              padding: 3px;
              min-width: 160px;
              left: 0;
              bottom: -40px;
            }
          }

          .input-file{
            position: absolute;
            left: -5000px;
            top: -5000px;
          }

          .file-name {
            @include media-breakpoint-down(sm) {
              max-width: 35ch;
            }

            color: $font-color;
            max-height: 48px;
            max-width: 41ch;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
          }

          .btn-upload {
            padding: 10px 15px;
            max-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 175px;

            i {
              font-size: 30px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .flip {
    transform: rotateY(360deg);
  }

}