.home-page {
  text-align:  center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;

  div {
    @include media-breakpoint-down(lg) {
      font-size: 30px;
      margin: 10px 0;
    }

    margin: 30px 0;
    height: 150px;
    font-size: 40px;
    box-sizing: border-box;
    border-radius: 6px;
    transition: all .5s;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333333;
      text-decoration: none;
      height: 100%;
      width: 100%;
    }

    &.disabled {
      a {
        cursor: not-allowed;
      }

      &:hover {
        transform: scale(1);
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    i {
      margin-left: 15px;
    }
  }

}