.content-area {
  min-height: 70vh;
  position: relative;
}

.content {
  .table {
    color: $gray-700;
    min-width: 650px;

    tbody {
      tr {
        line-height: 30px;

        &:nth-child(even) {
          background-color: #F2F2F2;
        }
      }

      .btn-operations {
        border-color: $gray-600;
        color: $gray-700;
        font-weight: 600;

        &:hover {
          background-color: $gray-300;
        }
      }
    }
  }
}

.filter-area {
  @include media-breakpoint-up(md) {
    margin-right: 12px;
  }

  background-color: $white;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: solid 1px $gray-500;
  color: $cyan-600;
  min-height: 100%;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  transition: width .3s;
  width: calc(100% / 12 * 1.5);
  z-index: 100;

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h3 {
      font-weight: bold;
    }

    label {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0;
      width: 100%;
    }

    input[type="submit"] {
      background-color: $cyan-600;
      border-radius: 6px;
      border: none;
      color: $white;
      font-weight: bold;
      margin-top: 30px;
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }
}