.content-area {
  min-height: 50vh;
  position: relative;
}

.content {
  .table {
    color: $font-color;
    min-width: 700px;

    tbody {
      tr {
        line-height: 30px;

        &:nth-child(even) {
          background-color: $secondary;
        }
      }
    }
  }
}

.filter-area {
  @include media-breakpoint-up(md) {
    margin-right: 12px;
  }

  background-color: $white;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: solid 1px $border-color;
  color: $primary;
  min-height: 100%;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  transition: width .3s;
  width: calc(100% / 12 * 1.5);
  z-index: 100;

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h3 {
      font-weight: bold;
    }

    label {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0;
      width: 100%;
    }

    input[type="submit"] {
      background-color: $primary;
      border-radius: 6px;
      border: none;
      color: $white;
      font-weight: bold;
      margin-top: 30px;
      padding: 10px 20px;
      text-transform: uppercase;

      &:hover {
        background-color: $primary-hover;
      }
    }
  }
}

.nav-tabs {
  border-bottom: 3px solid $primary;


  .nav-link {
    color: $font-color;

    &.active {
      border: none;
      border-bottom: 3px solid $primary;
      background-color: $secondary;

      &:hover {
        background-color: $secondary-hover;
      }
    }
  }
}