footer {
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;

    > a {
      margin: 30px 0;
    }

    p {
      text-align: center;
    }
  }

  ul > li > a.nav-link {
    @include media-breakpoint-down(md) {
      text-align: center;
    }

    color: #6C757D;
    text-align: right;

    &:hover {
      color: $primary;
    }
  }

}