.btn-outline-cyan {
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.btn-outline-gray {
  border-color: $border-color;
  color: $font-color;

  &:hover {
    background-color: $secondary-hover;
  }
}

.btn-custom {
  color: $white;
  background-color: $primary;

  &:hover {
    color: $white;
    background-color: $primary-hover;
  }
}

.form-check-input:checked  {
  background-color: $primary;
  border-color: $primary;
}