html, body {
  height: 100%;
  overflow-x: hidden;
}

// Body
$body-bg: $white;

// Colors.
$primary: $cyan-600;
$primary-hover: $cyan-700;
$secondary: #F2F2F2;
$secondary-hover: $gray-300;
$border-color: $gray-500;
$font-color: $gray-700;

// Typography
$font-family-sans-serif: 'Roboto', 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
